// colour palette
$sunset-orange: #FB2800;
// #FE4902;
$citrine: #FF9F1C;
$sapphire: #0A014F;
$candy-pink: #FFDEE5;
$cool-grey: #EDF2F9;
$tabriz-blue: #006FA4;
$powder-green: #E4F8E5;


// text colour

$copy-colour: black;
$heading-colour: black;
$copy-colour-light: white;
$heading-colour-light: white;



// BACKGROUND CLASSES
.candy-pink-bg {
  background-color: $candy-pink;
}
.powder-green-bg {
  background-color: $powder-green;
}



// TEXT CLASSES
.sunset-orange-text {
  color: $sunset-orange;
}

.sapphire-text {
  color: $sapphire;
}
