// colour palette
$theme-primary: green;
$theme-secondary: green;

// text colour

$copy-colour: green;
$heading-colour: black;
$copy-colour-light: green;
$heading-colour-light: white;

// typography



// repsonsive

$tablet-scale: 0.9;
$mobile-scale: 0.8;
