$breakpoint-phone-small: 320px;
$breakpoint-phone-large: 376px;
$breakpoint-tablet: 700px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1920px;
$breakpoint-desktop-mega: 2600px;


$tablet-scale: 0.9;
$mobile-scale: 0.8;
