$breakpoint-phone-small: 320px;
$breakpoint-phone-large: 376px;
$breakpoint-tablet: 700px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1920px;
$breakpoint-desktop-mega: 2600px;

$tablet-scale: 0.85;
$mobile-scale: 0.75;
$large-scale: 1.25;

@media (max-width: $breakpoint-tablet) {
  .logo {
    width: 100px * $mobile-scale;
    height: 164px * $mobile-scale;
  }
  nav .icon {
    display: none;
  }


}
.custom-cursor {
  cursor: url('../img/icon-email.png'), auto;
}

// @media (min-width: 2000px) {
//   .container .row {
//       width: 1920px;
//   }
// }
