$breakpoint-phone-small: 320px;
$breakpoint-phone-large: 376px;
$breakpoint-tablet: 700px;
$breakpoint-desktop-small: 1280px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1920px;
$breakpoint-desktop-mega: 2600px;

$tablet-scale: 0.75;
$mobile-scale: 0.5;

@media (max-width: $breakpoint-tablet) {
  .logo {
    width: 150px * $mobile-scale;
  }
  nav .icon {
    display: none;
  }


}
