@import 'colour.scss';
@import 'responsive.scss';

// @font-face {
//   font-family: 'graft';
//   src:  url('fonts/graft.woff2') format('woff2'),
//         url('fonts/graft.woff') format('woff');
// }

@font-face {
  font-family: 'graft';
  src:  url('../fonts/graft.woff2') format('woff2'),
        url('../fonts/graft.woff') format('woff');
}

@font-face {
  font-family: 'boxout';
  src:  url('../fonts/Boxout02-Black-Trial.woff2') format('woff2'),
        url('../fonts/Boxout02-Black-Trial.woff') format('woff');

}

@font-face {
  font-family: 'boxout wide';
  src:  url('../fonts/Boxout02-Wide-Black-Trial.woff2') format('woff2'),
        url('../fonts/Boxout02-Wide-Black-Trial.woff') format('woff');

}


@font-face {
  font-family: 'handwriting';
  src:  url('../fonts/PremiumUltra31.woff2') format('woff2'),
        url('../fonts/PremiumUltra31.woff') format('woff');

}



$primary-stack:  bureau-grot-extra-compressed,sans-serif;
$secondary-stack: 'Karla', sans-serif;
$tertiary-stack: 'handwriting', sans-serif;
$base-font-size: 20px;
$line-height-body: 1.5;
$line-height-heading: 0.8;
$leading: $base-font-size * $line-height-body;
$letter-spacing-heading: 1px;
$letter-spacing-copy: 0px;



h1, h2, h3, h4, {
  font-family: $primary-stack;
  color: $heading-colour;
  line-height: $line-height-heading;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-heading;
}

small, p, h6 {
  font-family: $secondary-stack;
  color: $copy-colour;
  line-height: $line-height-body;
  letter-spacing: $letter-spacing-copy;
}

h5 {
  font-family: $tertiary-stack;
}
p a{
    color: $copy-colour;
}

// p a:hover{
//     color: $copy-colour;
//     text-decoration: none;
//     font-weight: bold;
// }

h6 {
  color: $heading-colour;
  font-weight: bold;
}

a:hover {
  color: black;
}

h1 {
  font-size: $base-font-size * 8;
}
h2 {
  font-size: $base-font-size * 7.5;
}
h3 {
  font-size: $base-font-size * 6;
}
h4 {
  font-size: $base-font-size * 4.5;
}
h5 {
  font-size: $base-font-size * 2;
}
h6 {
  font-size: $base-font-size;
}
p {
  font-size: $base-font-size;
}
small {
  font-size: $base-font-size * 0.75;
}

// Tablet

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: $base-font-size * $tablet-scale * 8;
  }
  h2 {
    font-size: $base-font-size * $tablet-scale * 7.5;
  }
  h3 {
    font-size: $base-font-size * $tablet-scale * 6;
  }
  h4 {
    font-size: $base-font-size * $tablet-scale * 4.5;
  }
  h5 {
    font-size: $base-font-size * $tablet-scale * 2;
  }
  h6 {
    font-size: $base-font-size * $tablet-scale;
  }
  p {
    font-size: $base-font-size * $tablet-scale;
  }
  small {
    font-size: $base-font-size * $tablet-scale * 0.9;
  }
}


@media (max-width: $breakpoint-phone-large) {
  h1 {
    font-size: $base-font-size * $mobile-scale * 8;
  }
  h2 {
    font-size: $base-font-size * $mobile-scale * 7.5;
  }
  h3 {
    font-size: $base-font-size * $mobile-scale * 6;
  }
  h4 {
    font-size: $base-font-size * $mobile-scale * 4.5;
  }
  h5 {
    font-size: $base-font-size * $mobile-scale * 2;
  }
  h6 {
    font-size: $base-font-size * $mobile-scale;
  }
  p {
    font-size: $base-font-size * $mobile-scale;
  }
  small {
    font-size: $base-font-size * $mobile-scale * 0.9;
  }
  .logo {
    width: 150px * $mobile-scale;
    height: 91px * $mobile-scale;
  }

}



@media (min-width: $breakpoint-desktop-large) {
  h1 {
    font-size: $base-font-size * $large-scale * 8;
  }
  h2 {
    font-size: $base-font-size * $large-scale * 7.5;
  }
  h3 {
    font-size: $base-font-size * $large-scale * 6;
  }
  h4 {
    font-size: $base-font-size * $large-scale * 4.5;
  }
  h5 {
    font-size: $base-font-size * $large-scale * 2;
  }
  h6 {
    font-size: $base-font-size;
  }
  p {
    font-size: $base-font-size;
  }
  small {
    font-size: $base-font-size * $large-scale * 0.75;
  }


}


// STYLING


.lowercase-m {
  text-transform: lowercase;
}



.rotate0.5 {
  transform: rotate(0.5deg);
}
.rotate1 {
  transform: rotate(1deg);
}
.rotate1.5 {
  transform: rotate(1.5deg);
}
.rotate2 {
  transform: rotate(2deg);
}
.rotate-0.5 {
  transform: rotate(-0.5deg);
}
.rotate-1 {
  transform: rotate(-1deg);
}
.rotate-1.5 {
  transform: rotate(-1.5deg);
}
.rotate-2 {
  transform: rotate(-2deg);
}

//
//
// #type-option-5 h1, #type-option-5 h2, #type-option-5 h3, #type-option-5 h4, #type-option-5 h5 {
//   font-family: bureau-grot-extra-compressed,sans-serif;
//   font-style: normal;
//   line-height: 0.8;
//   letter-spacing: 1px;
//
// }
//
// #type-option-5 h6, #type-option-5 p, #type-option-5 small, #type-option-6 h6, #type-option-6 p, #type-option-6 small {
//   font-family: 'karla', sans-serif;
//   font-style: normal;
//   font-size:20px;
//   letter-spacing: 0px;
//   line-height: 33px;
// }
//
//
//
// #type-option-6 h1, #type-option-6 h2, #type-option-6 h3, #type-option-6 h4, #type-option-5 h5 {
//   font-family: bureau-grot-compressed, sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 185px;
//   line-height: 0.8;
//   letter-spacing: -3px;
//
//
// }
//
// #type-option-5 small, #type-option-6 small {
//   font-family: 'handwriting';
//   font-size: 40px;
// }
//
//
// #type-option-5 h5 {
//   font-family: 'handwriting';
//   font-size: 60px;
// }


.container {
  padding-bottom: 0px;
}


.row:nth-child(1) {
  padding-top: 150px;
}

nav .container {
  padding-bottom:0px;
}

nav {

}


.type-2 h1 {
  font-family:  'bureau-grot-compressed', sans-serif;
  letter-spacing: -3px;
}
